#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
}
#map {
  height: 100vh;
  z-index: 0;
  position: initial!important;
  // opacity: 0.001;
}
h2{
  font-family: sans-serif;
  margin: 0;
  position: fixed;
}